/* ABOUT PAGE LAYOUT */

html {
  scroll-behavior: smooth !important;
  overflow-y: scroll !important;
}

::-webkit-scrollbar {
  display: none;
}

main {
  max-width: 1000px;
  height: 100vh;
}

h2 {
  color: chocolate;
  text-decoration: underline;
}

article {
  max-width: 1000px;
  width: 90%;
}

.flex-parent {
  display: flex;
  /* background-color: red; */
}

.flex-parent > * {
  flex: 1;
}

.first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 10px;
  background-color: chocolate;
  filter: brightness(90%);
  border-radius: 10px;
  font-size: 18px;
  color: white;
  transition: all 0.5s;
}

button:hover {
  cursor: pointer;
  transform: translateY(-8px);
}

.second-child img {
  border-radius: 4px;
}

article img {
  width: 300px;
  height: auto;
}

p {
  text-align: justify;
  color: white;
}

.arrowParent {
  position: absolute;
  bottom: 60px;
  left: 50%;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
}

.arrowParent:hover {
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 992px) {
  h2 {
    text-align: center;
  }
  .flex-parent {
    display: flex;
    flex-direction: column-reverse;
  }

  .second-child {
    justify-content: center;
  }

  .buttonParent {
    text-align: center;
  }

  article {
    margin-top: 50px;
    padding-bottom: 20px;
  }

  .arrow {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  article {
    width: 100%;
    /* background-color: green; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
}
