@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 18px;
  background-color: #100e17;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/achtergrond.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100vh;
}

main {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
  display: block;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 42px;
  color: white;
}

.article-index {
  margin: auto;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

article {
  margin: auto;
}

p {
  text-align: center;
  color: white;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socials i {
  transition: all 0.4s ease-in-out;
}

.socials i:hover {
  transform: scale(1.2);
}

.socials i {
  font-size: 30px;
  color: white;
  padding: 15px;
  border: 2px solid chocolate;
  border-radius: 50%;
}

.hamburger {
  display: none;
}

.cross {
  display: none;
}

.flex-direction {
  display: flex !important;
  flex-direction: column !important;
}

@media screen and (max-width: 992px) {
  .article-index {
    max-width: 1000px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    display: none;
    background-color: chocolate;
    max-width: 350px;
    width: 100%;
    z-index: 1;
    position: relative;
  }

  nav ul {
    list-style-type: none;
    text-decoration: none;
  }

  nav ul li {
    margin: 20px;
  }

  nav ul li a {
    color: black;
    font-size: 35px;
    text-decoration: none;
  }

  .cross {
    font-size: 35px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    color: chocolate;
    font-size: 38px;
    cursor: pointer;
  }
}

@media screen and (min-width: 992px) {
  .article-index {
    max-width: 1000px;
  }

  nav {
    display: block !important;
  }

  nav ul li {
    margin: 20px;
  }

  nav ul li a {
    color: black !important;
    font-size: 22px;
  }

  .hamburger {
    display: none !important;
  }

  .cross {
    display: none !important;
  }

  header nav ul {
    display: flex !important;
    list-style-type: none !important;
    justify-content: center !important;
    gap: 6rem !important;
    padding: 0 !important;
    color: white !important;
  }

  header nav ul li a {
    color: chocolate !important;
  }

  a {
    text-decoration: none !important;
    font-weight: bold !important;
  }
}
