@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 18px;
  background-color: #100e17;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/achtergrond.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 42px;
  color: white;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 6rem;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: white;
}

header nav ul li a {
  color: chocolate;
}

a {
  text-decoration: none;
  font-weight: bold;
}

article {
  margin: auto;
  margin-top: 100px;
}

p {
  text-align: center;
  color: white;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socials i {
  transition: all 0.4s ease-in-out;
}

.socials i:hover {
  transform: scale(1.2);
}

.socials i {
  font-size: 30px;
  color: white;
  padding: 15px;
  border: 2px solid chocolate;
  border-radius: 50%;
}
