@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100svh;
  font-size: 18px;
  background-color: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/achtergrond.jpg") center center no-repeat fixed;
  background-size: cover;
}

/* HEADER */
header {
  position: relative;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
}

h1 {
  text-align: center;
  font-size: 42px;
  color: white;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .links {
  display: flex;
  gap: 10rem;
  list-style-type: none;
}

.navbar .links li {
  color: white;
}

.navbar .links li a {
  text-decoration: none;
  color: chocolate;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  top: 5.5rem;
  right: 2rem;
  left: 2rem;
  height: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  color: white;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu ul a {
  color: chocolate;
  text-decoration: none;
}

/* MAIN */
.main-index {
  margin: auto;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 20px;
}

p {
  text-align: center;
  color: white;
}

.socials {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socials i {
  transition: all 0.4s ease-in-out;
}

.socials i:hover {
  transform: scale(1.2);
}

.socials i {
  font-size: 30px;
  color: white;
  padding: 15px;
  border: 2px solid chocolate;
  border-radius: 50%;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .dropdown_menu.open {
    height: 240px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
