@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #303846;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px; /* half of the scrollbar width */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
